on init
    mount none /product/vendor_overlay/30/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind

on boot
    # Gestures
    chown system system /proc/driver/dclick

    # FPS Node
    chown system graphics /sys/class/drm/sde-crtc-0/measured_fps
    chmod 0666 /sys/class/drm/sde-crtc-0/measured_fps
